
._header{
	background-color: lightgray;
	border-bottom: 1px solid grey;
	margin-top: -9px;
	margin-left: -7px;
	margin-right: -7px;
	height: 100px;
	overflow-x: hidden;
}
.body{
	font-family: open sans;
}
div.flex-container {
  display: flex;
 text-decoration: none;
}
img._wtv{
	width: 300px;
	margin-left: 30px;
	margin-top: 30px;
}
.link-box{
	margin-left: auto;
	margin-right: 20px;
	
}
.links li{
	text-decoration: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	color: #212529;

}
.links li a{
	text-decoration: none;
	color: #212529;

}
.links li a:hover{
	background-color: rgb(178,131,9);
	border-color: rgb(178,131,9);
	text-decoration: none;

}
button._btn {
padding: 10px 15px;
border-radius: 24px;
background-color: white;
border:2px solid rgb(178,131,9);
}
._btn:hover{
	background-color: rgb(178,131,9);
	border-color: rgb(178,131,9);
	text-decoration: none;

}
.links button a:hover{
	text-decoration: none;
	color: white;
}
button.bay{
padding: 10px 15px;
border-radius: 24px;
background-color: rgb(178,131,9);
border: 2px solid rgb(178,131,9);
}
.links button a{
	text-decoration: none;
	color: rgb(178,131,9);
}
.links .bay a{
	text-decoration: none;
	color: white;
}

.bay:hover{
	background-color: white;
	border-color: rgb(178,131,9);
	text-decoration: none;

}
.links .bay a:hover{
	
	color:rgb(178,131,9);
}
.sectA{
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	
}
._dim{
	margin-top: 170px;
	margin-left: 90px;
}
img._pan{
	width: 500px;
	margin-right: 30px;
	margin-top: 30px;

}
._h12{
	font-size: 45px;
	justify-content: flex-end;
	
}
._pay{
	font-size: 20px;
}
.sectC{
	overflow-x: hidden;
	margin-top: 5px;
	margin-left: -7px;
	margin-right: -7px;

}
 ._footer {
    background: hsl(243, 87%, 12%);
    display: flex;
    justify-content: space-between;
    color: white;
    height: 300px;

    
}
.footer_logo{
    margin-top: 80px;
    margin-left: 84px;
    filter: invert(700%);
    width: 100px;
    
}
.sub_addr{
   margin-left: 90px;
}
ul.footer-i{
    list-style: none;
    margin-right: 50px;
    margin-top: 90px;
    color: white;  
    line-height: 30px;
}
.footter_klin{
    list-style: none;
    margin-top: 90px;
    line-height: 30px;
    
}
ul.icon-list{
    list-style: none;
    display: flex;
    margin-top: 90px;
    margin-right: 100px;
}
li.icon-icon{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.nik li a{
    text-decoration: none;
    color: white;
}
#sectB{
	background-color: rgb(178,131,9);
	text-align: center;
	margin-top: -9px;
	margin-left: -7px;
	margin-right: -7px;

	
	
}
.pst{
	font-size: 40px;
	padding-top: 20px;
	color: white;
	

}
.p13{
	font-size: 25px;
	padding-bottom: 30px;
	color: white;
	
}
.banner-box{
	display: flex;

}
.img14{
	width: 540px;
}
.banner{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
._joy{
	margin-left: 30px;
	box-sizing: border-box;
	padding: 0px 30px;
	margin-top: 50px;

}
h2{
	color: rgb(178,131,9);
	margin-top: 100px;

}
#sectD{
	text-align: center;
	background-color: #333;
	margin-top: -35px;
	margin-left: -7px;
	margin-right: -7px;
}
ul.tph{
	text-decoration: none;
	list-style: none;
	display: flex;
	float: center;
	margin-top: 60px;
}
li.tph{

}
._dmt{
	    color: #999;
    font-size: 16px;
}
.__dsv{
	color: white;
}
h1._d12{
	font-size: 40px;
	position: relative;
	padding: 30px;
	color: rgb(178,131,9)
}
.sectE{
	display: flex;
}
._d13{
	margin-left: 70px;
	margin-top: 40px;
}
._d14{
	color: rgb(178,131,9);
	font-size: 20px;
}
._img{
	width: 600px;

}
._form{
	padding: 20px;
}
._text{
    padding:15px;
    padding-left: 600px;
    border-radius: 4px solid white;
    margin-top: 10px;
}
._text1{
    padding:15px;
    padding-left: 600px;
    border-radius: 4px solid white;
    margin-top: 10px;
}
._text2{
    padding:15px;
    padding-left: 600px;
    border-radius: 4px solid white;
    margin-top: 31px;
}
._text3{
    padding:15px;
    padding-left: 600px;
    border-radius: 4px solid white;
    margin-top: 10px;
}
._text4{
    padding:15px;
    padding-left: 600px;
    border-radius: 4px solid white;
    margin-top: 10px;
}
._d15{
	font-size: 25px;
	margin-left: 40px;
	margin-top: 10px;
}
button._btn2 {
padding: 15px 35px;
border-radius: 24px;
background-color: white;
border:2px solid rgb(178,131,9);
margin-top: 20px;
list-style: none;
}